#file = open("data.txt","mode->r,w,a")
file=open("students.txt","w")
file.write("Name: Rahul\n")
file.write("course: python\n")
file.close()

In [10]:
file=open("students.txt","r")
data =file.read()
print(data)
file.close()

Name: Rahul
course: python

In [11]:
# other method to read file 
with open("students.txt","r") as file:
    data = file.read()
    print(data)

Name: Rahul
course: python

In [12]:
file =open("students.txt","a")
file.write("marks: 98")
file.close()

In [21]:
file=open("students.txt","r") 
data=file.readline()
print(data)

Name: Rahul

In [26]:
file=open("students.txt","r") 
data2=file.readlines()
print(data2)

['Name: Rahul\n', 'course: python\n', 'marks: 98']

In [27]:
file = open("data.txt", "w")
file.close()

In [30]:
file = open("data.txt", "w")
file.write("name: Aditi\n")
file.write("City: Roorkee\n")
file .close()

In [35]:
file=open("data.txt","a")
file.write("Age:20\n")
file.close()

In [38]:
#read lines in the file 
file=open("data.txt","r")
data=file.readlines()
print(len(data))

4

In [44]:
file=open("data.txt","r")
data=file.read()
print("character in the file",len(data))
file.close()

character in the file 58

In [45]:
file=open("data.txt","r")
data=file.read()
print(data.upper())

NAME: ADITI
CITY: ROORKEE
AGE:20AGE:20AGE:20AGE:20
AGE:20

In [47]:
file=open("data.txt","r")
data=file.read()
words=data.split()
print(words)
file.close()

['name:', 'Aditi', 'City:', 'Roorkee', 'Age:20Age:20Age:20Age:20', 'Age:20']

In [48]:
file=open("data.txt","r")
data=file.read()
# change to loower case so that we can count easily
count=data.lower().count("aditi")
print("word count",count)
file.close()

word count 1

In [49]:
file = open("data.txt", "r")
data = file.read()
file.close()
print(data[::-1])

02:egA
02:egA02:egA02:egA02:egA
eekrooR :ytiC
itidA :eman

In [54]:
file = open("data.txt", "r")
data = file.read()
print(len(data))
print(data.replace("Aditi","siddhi"))
file.close()

58
name: siddhi
City: Roorkee
Age:20Age:20Age:20Age:20
Age:20

In [65]:
file=open("movie.txt","w")
file.write("Hello Brother\n")
file.write("IT\n")
file.write("goodbye\n")
file.close()
file=open("movie.txt","r")
data=file.read()
print(data.replace(" ",""))
print(data[:10])
file.close()

HelloBrother
IT
goodbye

Hello Brot

In [66]:
file=open("movie.txt","r")
data=file.read()
words=data.split()
for w in words:
    print(w[::-1])
file.close()

olleH
rehtorB
TI
eybdoog